[Unit]
Description=Standalone Gamescope compositor
Before=steam-session.target
PartOf=steam-session.target

[Service]
ExecStart=/usr/bin/start-gamescope-compositor
Type=exec
