[Unit]
Description=Steam Big Picture user interface
Before=steam-session.target
PartOf=steam-session.target
Requires=mangoapp.service
After=mangoapp.service
Wants=ibusd.service

[Service]
ExecStart=/usr/bin/steam -skipintro -gamepadui -steampal -steamos3 -steamdeck
Type=exec
