polkit.addRule(function(action, subject) {
  if (
    action.id == "org.freedesktop.policykit.exec" &&
    action.lookup("program") == "/usr/bin/steamos-update" &&
    subject.isInGroup("sysupdate")
  ) {
    return polkit.Result.YES;
  }
})
